* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing-page{
	height: 75vh;
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('');
}

#icon{
	width: 30px;
	height: 30px;
}

li{
	display: inline;
}
#carousel{
	height: 500px;
	padding: 20px;
	margin-bottom: 100px;
}
.carousel-item{
	width: 75vw;
}
#carousel img{
	height: 500px;
}